<% 
// console.log(photos); 
%>

<% for (var i = 0; i < 3; i++) { 
// console.log(photos[i]); 
    var photolink = photos[i].media.m;
    %>
    <img class="city-photo city-photo-<%= [i] %>" src="<%= photolink %>" />
    <!-- <div class="city-photo city-photo-<%= [i] %>" style="background-image: url(<%= photolink %>)" /></div> -->

<% }; %>

