<header class="header">
    <nav class="main-navigation">
        <ul>
            <li class="about"><a href="#/about" id="about">About</a></li>
        </ul>
    </nav>

    <h1 class="text-muted"><a href="#">Photograph Europe</a></h1>
</header>
<div id="content" role="main"></div>

<div class="footer">
    <p>I always wanted to be a weatherman</p>
</div>