<div class="header">

    <nav>
        <ul class="nav nav-pills pull-right">
            <li class="home active"><a href="#">Home</a></li>
            <li class="about"><a href="#/about" id="about">About</a></li>
        </ul>
    </nav>

    <h1 class="text-muted">Europe weather</h1>
</div>

<div id="content"></div>

<div class="footer">
    <p>I always wanted to be a weatherman</p>
</div>