<div class="rte wrapper">
    <h2>Why Photograph Europe?</h2>

    <p>This app will let you see the weather for selected cities across Europe. </p>
    <p>This app allows users to share their experience of European weather.</p>
    <p>We all love browsing through photos.</p>
    
    <h2>Future improvements:</h2>
    <ul>
        <li>Share photos</li>
        <li>Photo carousel</li>
        <li>Upload to community</li>
        <li>Photograhpy conditions - with both weather and photography combined we can give photography tips based on weather conditions.</li>
        <li>Cache results</li>
        <li>Search for city</li>
        <li>Videos</li>
    </ul>    

    <h2>Tech used</h2>
    <ul>
        <li>Backbone built using Yeoman generator-backbone</li>
        <li>SASS</li>
        <li>RequireJS</li>
        <li>Weather feed from YQL</li>
        <li>Photo feed from Flikr</li>
    </ul>    

    <p>Source code available on <a href="https://github.com/ticktockreed/weather_app">on GitHub</a></p>



</div>