<h2>Why Photograph Europe?</h2>

<p>This app will let you see most recently added pictures from Cities across Europe</p>
<p>This app allows users to share their experience of European weather.</p>
<p>We all love browsing through photos.</p>
<p>Future improvements:</p>
<ul>
    <li>Share photos</li>
    <li>Photo carousel</li>
    <li>Upload to community</li>
    <li>Photograhpy conditions - with both weather and photography combined we can give photography tips based on weather conditions.</li>
    <li>Cache results</li>
    <li>Search for city</li>
    <li>Videos</li>
</ul>