@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600);

$font-body: "Open Sans", sans-serif;
$font-heading: "Open Sans", sans-serif;

body {
    font-family: $font-body; 
    font-size: 16px;
}