@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

$font-body: "Roboto", Arial, sans-serif;
$font-heading: "Roboto", Arial, sans-serif;

body {
    font-family: "Roboto", Arial, sans-serif; 
    font-size: 16px;
}